<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Micky5991.Inventory" Description="Code analysis rules for Micky5991.Inventory" ToolsVersion="16.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <!-- https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/DOCUMENTATION.md -->
        <Rule Id="SA1633" Action="None"/> <!-- FileMustHaveHeader -->

        <Rule Id="SA1623" Action="Warning"/> <!-- PropertySummaryDocumentationMustMatchAccessors -->
    </Rules>
</RuleSet>
